<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        
        <header>
            <nav>
                
                    <div>
                        <a href="#">HOME</a>
                    </div>

                    <div>
                        <a href="#">ABOUT US</a>
                    </div>

                    <div>
                        <a href="#">CONTACT</a>
                    </div>

                    <div>
                        <a href="#">COMPANY</a>
                    </div>

                    <div>
                        <a href="#">SERVICES</a>
                    </div>

                    
            </nav>
        </header>

        <section class="section1">

            <div class="half1">

                <div>
                    <h1>TechCorporate</h1>
                </div>
                
                <div>
                    <p>Free PSD Website Template</p>
                </div>
            </div>

            <div class="half2">
                <p>Tel:xxxx xxxxxx<br>
                Mail: info@domain.com</p>
            </div>

        </section>

        <section class="section2">

            <div>
                <img src="images/tobias-tullius-ms5KaYqstdQ-unsplash.jpg">
            </div>

            <div class="card">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, sapiente.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia maxime voluptatem inventore, consectetur vero natus rerum quibusdam quae sequi qui magni corrupti, reiciendis quam, temporibus aperiam nulla. Natus id veritatis et dicta, obcaecati, unde quos, excepturi nostrum repudiandae quasi inventore.</p>
            </div>

            <div class="today">
                <h2>
                    Todays Technology<span> >> </span>
                </h2>
            </div>


        </section>


        <section class="section3">
            <div class="box">
                <h4>Lorem ipsum, dolor sit amet consectetur</h4>

                <div class="sizes">
                    240 x 90px
                </div>

                <p>
                    Lorem ipsum dolor amet adipisicing elit. Explicabo aspernatur necessitatibus similique laborum enim, illum itaque nobi sit nam ea iusto aperiam architecto quis. Modi minima eligendi enim porro.
                </p>

                <p class="read">Read More >></p>

            </div>

            <div class="box">
                <h4>Lorem ipsum, dolor sit amet consectetur</h4>

                <div class="sizes">
                    240 x 90px
                </div>

                <p>Lorem ipsum dolor  aa nostrum unde nobis veritatis ducimus  perspiciatis ipsam est officia molestiae magni, accusantium debitis animi maxime laudantium sequi aspernatur omnis?</p>

                <p class="read">Read More >></p>
            </div>

            <div class="box">
                <h4>Lorem ipsum, dolor sit amet consectetur</h4>

                <div class="sizes">
                    240 x 90px
                </div>

                <p>Lorem met consectetur adipisicing elit. Provident explicabo veritatis nam sit repellat asperiores, quaerat dolorum quo reiciendis quia eaque, dolor aliquid. Error quisquam eveniet vero in non.</p>

                <p class="read">Read More >></p>
            </div>

        </section>


        <section class="section4">

            <div class="section4-1">
                <div class="image">
                    200 x 160px
                </div>

                <div class="content">
                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, neque.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, sed hic officiis aut perferendis cupiditate quidem accusantium pariatur consectetur ea? Voluptates quaerat soluta temporibus unde, fuga inventore aspernatur. Quibusdam sint distinctio qui excepturi officiis modi aperiam? Vitae velit quis quo.</p>
                    <p class="read">Continue Reading >></p>
                </div>

            </div>

            <div class="section4-2">
                <h3>Categories</h3>
                <div class="a-list">
                    <a href="#">>Link Text Goes here</a>
                    <a href="#">>Link Text Goes here</a>
                    <a href="#">>Link Text Goes here</a>
                    <a href="#">>Link Text Goes here</a>
                    <a href="#">>Link Text Goes here</a>
                </div>
            </div>
        </section>


        <section class="section5">
            <div class="item">
                174 x 100px
            </div>

            <div class="item">
                174 x 100px
            </div>

            <div class="item">
                174 x 100px
            </div>

            <div class="item">
                174 x 100px
            </div>

            <div class="item">
                174 x 100px
            </div>

        </section>

        <footer>

            <div class="footer">
                <div>
                    <p>Copyright 2009 Domain Name - All Rights Reserved</p>
                </div>
    
                <div>
                    <p>Template by OS Templates</p>
                </div>
            </div>
            
        </footer>
        

        


        
        <script src="" async defer></script>
    </body>
</html>